*.tar
*.tmp
*.deps
*.txt
*.user
*.psess
*.vsp
*.tss
*.dat
*.jpg
*.jpeg
*.png
*.vcxproj.user
*.nvuser
*.opensdf
*.cppcheck
Debug*/
Release*/
generated/
ipch/
.svn/
*~
/lru-cache
/gitlab
GeneratedFiles/